* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    
    display: flex;
    align-items: center;
    height: 100vh;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;}

  .gameboard {
    height: 727px;
    width: 727px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
    border: 0;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #247ba0;
  }

  .celeste.light {
    background: #9BF3F0;
  }

  .violeta {
    background: #87255b;
  }

  .violeta.light {
    background: #b370b0;
  }

  .naranja {
    background: #eb5e28;
  }

  .naranja.light {
    background: #ffc145;
  }

  .verde {
    background: #3E5622;
  }

  .verde.light {
    background: #9BC53D;
  }

  .btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
  }

  .hide {
    display: none;
  }